cloudplatform/.settings/org.eclipse.wst.common.project.facet.core.xml
cloudplatform/.settings/org.eclipse.m2e.core.prefs
cloudplatform/.settings/org.eclipse.jdt.core.prefs
cloudplatform/.settings/org.eclipse.core.resources.prefs
drzk-cloud-platform/.settings/org.eclipse.wst.validation.prefs
drzk-cloud-platform/.settings/org.eclipse.wst.common.project.facet.core.xml
drzk-cloud-platform/.settings/org.eclipse.wst.common.component
drzk-cloud-platform/.settings/org.eclipse.m2e.core.prefs
drzk-cloud-platform/.settings/org.eclipse.jdt.core.prefs
drzk-cloud-platform/.settings/org.eclipse.core.resources.prefs
platform/.settings/org.eclipse.wst.common.project.facet.core.xml
platform/.settings/org.eclipse.m2e.core.prefs
platform/.settings/org.eclipse.jdt.core.prefs
platform/.settings/org.eclipse.core.resources.prefs
